.row
  .col-md-9
    = link_to new_carrier_path, class: 'btn btn-success pull-right' do
      %i.glyphicon.glyphicon-plus
      Add Carrier
    %p.lead Carriers List

    - if @carrier.count > 0
      %table.table.table-striped.table-hover
        %tr
          %th Name
          %th Delete
        - @carrier.each do |c|
          %tr
            %td
              = link_to c.name, edit_carrier_path(c)
            %td
              = link_to c, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-trash
    - else
      %p.text-danger There are no carriers to display.
  .col-md-3
    = render 'layouts/manage'

.row
  - @carrier.each do |c|
    .col-sm-3
      .panel.panel-default
        .panel-heading
          %p.lead= c.name
        .panel-body
          - c.locations.each do |l|
            %strong= l.name
            %ul
              - l.stores.each do |s|
                %li= s.store
