.row
  .col-md-6.col-md-offset-3
    = form_for(@store) do |f|
      - if @store.errors.any?
        #error_explanation
          %h2
            = pluralize(@store.errors.count, "error")
            prohibited this ticket from being saved:
          %ul
            - @store.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label :store
        = f.text_field :store, autofocus: true, class: 'form-control'

        = f.label :location_id, "Location"
        = f.collection_select(:location_id, Location.all, :id, :name, { :prompt => 'Select a location', :selected => @store.location_id }, { class: 'form-control' })


      .actions
        = link_to 'Back', stores_path, class: 'btn btn-default'
        = f.submit class: 'btn btn-primary pull-right'
