= form_for(@ticket) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - @ticket.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :subject
    = f.text_field :subject, autofocus: true, class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, rows: "10", class: 'form-control'
  %p.text-primary Choose either a store or linehaul route that this ticket is regarding.
  .col-md-6
    .form-group
      = f.label :store
      = select("ticket", "store_id", Store.all.order('store ASC').collect{|s| [ s.store, s.id ] }, {prompt: 'Select Store'}, class: 'form-control' )
  .col-md-6
    .form-group
      = f.label :linehaul
      = select("ticket", "linehaul_id", Linehaul.all.collect{|l| [l.route, l.id ] }, {prompt: 'Select Route'}, class: 'form-control' )
  .actions
    = link_to 'Back', tickets_path, class: 'btn btn-default'
    = f.submit class: 'btn btn-primary pull-right'
