<div class="col-md-7">
  <ul class="nav nav-pills" role="tablist">
    <!-- <li role="presentation">
      <%#= link_to root_path do %>
        <i class="glyphicon glyphicon-asterisk"></i> All Active <span class="badge" <%= "style=background-color:red" if @tickets.allopen.count > 0 %> ><%= @tickets.allopen.count %></span></a></li>
      <%# end %>
    </li> -->
    <li role="presentation">
      <%= link_to root_path do %>
        <i class="glyphicon glyphicon-inbox"></i> Open <span class="badge" <%= "style=background-color:red" if @tickets.open.count > 0 %> ><%= @tickets.open.count %></span>
      <% end %>
    </li>

    <% if current_user.admin? %>
      <li role="presentation">
        <%= link_to waiting_tickets_path do %>
          <i class="glyphicon glyphicon-time"></i> Waiting <span class="badge" <%= "style=background-color:red" if @tickets.waiting.count > 0 %> ><%= @tickets.waiting.count %></span>
        <% end %>
      </li>

      <li role="presentation">
        <%= link_to done_tickets_path do %>
          <i class="glyphicon glyphicon-ok"></i> Done
        <% end %>
      </li>
    <% end %>

    <li role="presentation">
      <%= link_to trashed_tickets_path do %>
        <i class="glyphicon glyphicon-trash"></i> Trashed
      <% end %>
    </li>

    <% if current_user.admin? %>
      <li role="presentation">
        <%= link_to priority_tickets_path do %>
          <i class="glyphicon glyphicon-bookmark"></i> Priority <span class="badge" <%= "style=background-color:red" if @tickets_priority.count > 0 %> ><%= @tickets_priority.count %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
