<div class="col-md-8">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <%= link_to root_path do %>
        <i class="glyphicon glyphicon-asterisk"></i> All Active <span class="badge" <%= "style=background-color:red" if @tickets.allopen.count > 0 %> ><%= @tickets.allopen.count %></span></a></li>
      <% end %>
    </li>
    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-inbox"></i> Open <span class="badge" <%= "style=background-color:red" if @tickets.active.count > 0 %> ><%= @tickets.active.count %></span></a></li>
    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-time"></i> Waiting <span class="badge" <%= "style=background-color:red" if @tickets.waiting.count > 0 %> ><%= @tickets.waiting.count %></span></a></li>
    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-ok"></i> Done</a></li>
    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-trash"></i> Trashed</a></li>
    <li role="presentation">
      <%= link_to priority_tickets_path do %>
        <i class="glyphicon glyphicon-bookmark"></i> Priority <span class="badge" <%= "style=background-color:red" if @tickets.priority.count > 0 %> ><%= @tickets.priority.count %></span>
      <% end %>
    </li>
  </ul>
</div>
