<tr>
  <td>
      <%= link_to priority_status_ticket_path(ticket) do %>
        <% if ticket.priority %>
          <i class="glyphicon glyphicon-bookmark" style="color: red" aria-hidden="true"></i>
        <% else %>
          <i class="glyphicon glyphicon-bookmark" style="color: #e6e6e6" aria-hidden="true"></i>
        <% end %>
      <% end %>
  </td>
  <td>
    <% if ticket.active? %>
      <i class="glyphicon glyphicon-inbox"></i>
    <% elsif ticket.waiting? %>
      <i class="glyphicon glyphicon-time"></i>
    <% elsif ticket.done? %>
      <i class="glyphicon glyphicon-ok"></i>
    <% elsif ticket.trashed? %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </td>
  <td><%= link_to ticket.subject, ticket %></td>
  <td><%= truncate(ticket.content, length: 100, separator: ' ') %></td>
  <td>Created <%= time_ago_in_words(ticket.created_at) %> ago.</td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to edit_ticket_path(ticket), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
      <% end %>
      <%= link_to ticket, method: :delete, data: { confirm: 'Are you sure you want to delete this ticket?' }, class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
</tr>
