.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %p
        = link_to priority_status_ticket_path(@ticket) do
          - if @ticket.priority
            %i.glyphicon.glyphicon-bookmark{"aria-hidden" => "true", :style => "color: red"}
          - else
            %i.glyphicon.glyphicon-bookmark{"aria-hidden" => "true", :style => "color: #e6e6e6"}
        %span.lead= @ticket.subject
        %span.text-muted.pull-right
          Created #{time_ago_in_words(@ticket.created_at)} ago.
    .panel-body
      %p= @ticket.content
  .btn-group
    = link_to 'Edit', edit_ticket_path(@ticket), class: "btn btn-default"
    = link_to 'Back', tickets_path, class: "btn btn-default"
