<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>
        <%= link_to priority_status_ticket_path(@ticket) do %>
          <% if @ticket.priority %>
            <i class="glyphicon glyphicon-bookmark" style="color: red" aria-hidden="true"></i>
          <% else %>
            <i class="glyphicon glyphicon-bookmark" style="color: #e6e6e6" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <span class="lead"><%= @ticket.subject %></span>
        <span class="text-muted pull-right">Created <%= time_ago_in_words(@ticket.created_at) %> ago.</span>
      </p>
    </div>
    <div class="panel-body">
      <p><%= @ticket.content %></p>
    </div>
  </div>
  <div class="btn-group">
    <%= link_to 'Edit', edit_ticket_path(@ticket), class: "btn btn-default" %>
    <%= link_to 'Back', tickets_path, class: "btn btn-default" %>
  </div>
</div>
