.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %p
        - if current_user.admin?
          = link_to priority_status_ticket_path(@ticket) do
            - if @ticket.priority
              %i.glyphicon.glyphicon-bookmark{"aria-hidden" => "true", :style => "color: red"}
            - else
              %i.glyphicon.glyphicon-bookmark{"aria-hidden" => "true", :style => "color: #e6e6e6"}
        %span.lead= @ticket.subject
        %span.text-muted.pull-right
          Created #{time_ago_in_words(@ticket.created_at)} ago by #{@ticket.user.full_name}.
    .panel-body
      %strong Status:
      = @ticket.status.capitalize
      .pull-right
        %strong Store:
        - if @ticket.store
          %span= @ticket.store.store
        - else
          %span No Store
        %br
        %strong Linehaul:
        - if @ticket.linehaul
          %span= @ticket.linehaul.route
        -else
          %span No Linehaul
      %hr
      %p= @ticket.content
  .btn-group
    = link_to 'Edit', edit_ticket_path(@ticket), class: "btn btn-default"
    = link_to 'Back', tickets_path, class: "btn btn-default"
  - if current_user.admin?
    .btn-group.pull-right
      - if !@ticket.done?
        = link_to 'Mark as Done', done_status_ticket_path(@ticket), class: "btn btn-success"
      - if @ticket.done?
        = link_to 'Reopen', open_status_ticket_path(@ticket), class: "btn btn-default"
      - if @ticket.open?
        = link_to 'Postone', waiting_status_ticket_path(@ticket), class: "btn btn-default"
      - if !@ticket.trashed?
        = link_to 'Trash', trashed_status_ticket_path(@ticket), class: "btn btn-danger"
  %hr
  .panel.panel-default
    .panel-body
      = commontator_thread(@ticket)
