<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ticket.content %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
