.row
  .col-md-6.col-md-offset-3
    = link_to new_location_path, class: 'btn btn-success pull-right' do
      %i.glyphicon.glyphicon-plus
      Add Location
    %p.lead Locations List

    - if @locations.count > 0
      %table.table.table-striped.table-hover
        %tr
          %th Name
          %th Carrier
          %th Delete
        - @locations.each do |l|
          %tr
            %td
              = link_to l.name, edit_location_path(l)
            %td
              = l.carrier.name
            %td
              = link_to l, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-trash
    - else
      %p.text-danger There are no locations to display.
  .col-md-3
    = render 'layouts/manage'
